<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			org.postgresql.Driver
		</property>
		
		<property name="hibernate.connection.url">
			jdbc:postgresql://localhost:5432/postgres
		</property>
		
		<!-- 
		<property name="hibernate.connection.username">${EM_ROLE}</property>
		<property name="hibernate.connection.password">${EM_PASS}</property>
		 -->
		<!-- Configuration option which allows Hibernate to print generated
		SQL operations to the console -->
		<property name="show_sql">true</property>
		
		<!-- Hibernate has built in (development) connection pooling -->
		<property name="hibernate.connection.pool_size">1</property>
		
		<!-- What SQL language dialect should it generate code for? -->
		<property name="hibernate.dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		
		<!-- https://docs.jboss.org/hibernate/orm/5.2/userguide/html_single/Hibernate_User_Guide.html#configurations-hbmddl -->
		<property name="hibernate.hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>



